* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f4f7ff;
  padding: 0;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  position: relative;
}
.section {
  position: flex;
}
.title {
  padding-top: 10%;
  padding-bottom: 5%;
}
h1,
h2 {
  color: #0e1766;
}
.question {
  padding-bottom: 5%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}
h3 {
  text-align: left;
}
table {
  margin-left: auto;
  margin-right: auto;
}
table tr {
  text-align: left;
}
table tr td {
  padding-right: 2.5rem;
  padding-top: 0.2rem;
}
table tr th {
  padding-top: 1rem;
}
.sumTotal {
  display: inline;
}
h3 {
  text-align: center;
}
@media only screen and (max-width: 1250px) {
  body {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .title {
    padding-top: 5%;
    padding-bottom: 0%;
  }
  .question {
    padding-bottom: 0%;
  }
}
@media only screen and (max-width: 350px) {
  table {
    font-size: 1rem;
  }
}
